.jumbotron {
    height: 400px;
    padding: 60px;
}

.display-4 {
    font-size: 8vw;
    /* padding-left: 160px; */
}

.lead {
    font-family: 'Courgette', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 2.0vw;
    line-height: 1.6;
    vertical-align: middle;
    border: 2px;
    /* padding-left: 160px;
    padding-right: 160px; */
}

#topImageR {
    float: right;
    margin-top: -20px;
    margin-left: 30px;
}

#topImageL {
    float: left;
    margin-top: -20px;
    margin-right: 40px;
}

.btn {
    border: none;
    background-color: rgb(6, 99, 116);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#office {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn:hover {
    background: #eee;
}

.form-group {
    align-items: right;
    text-align: left;
    font-size: 24px;
}

form {
    float: right;
    clear: both;
    margin-top: 50px;
    margin-right: 30px;
}

#addChar {
    background-color: rgb(12, 177, 206);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

label {
    vertical-align: right;
}

#officeInput:focus {
    background-color: khaki;
    /* width: 100%; */
    padding: 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}